* {
    margin: 0;
}

html, body {
    height: 100%;
}

.profile-content a:hover {
    text-decoration: none;
}

.header{
    .btn {
        margin-top: 30px;
    }
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push-footer {
    height: 4em;
}

@media screen and (max-width: 480px) {
    .section-inner {
        padding: 10px !important;
    }
}